* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  li {
    list-style: none;
  }
  #app /deep/ .el-popover.el-popper {
    padding: 0 !important;
  }
// 主题颜色 绿色
@main: "#61caa2";
// 红色
@textColor:"#f8373a";
// 黑色
@black:"#333333";
// 灰色666
@grey:"#666666";
// 边框颜色
@border:"1px solid";